body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:1000px) {
    body{
       background: #2E313A;;
    }
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #2E313A;

}

.text-part-heading{
    width: fit-content;
    flex-wrap: wrap;
    flex-shrink: 2;
}
.heading-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;

}
.heading-main h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 83px;
    margin: 0;
    height: 90px;
    color: #F5453E;
}
.heading-subtitle h1{
    /* border: 2px solid black; */
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* text-align: center; */
    font-size: 23px;
    margin: 0;
    color: white;
}
.heading-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* position: relative; */
    /* right: 60px; */
}


.image-part-heading{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 14px;
}


.container{
    background: #2E313A;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.material-icons-outlined{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;  /* Preferred icon size */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(39, 125, 238);
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .icon-outer-circle{
      border: 5px solid rgb(251, 251, 251);
      border-radius: 50%;
  }

  .material-icons-outlined-card1{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px; /* Preferred icon size */
    width: 27px; 
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin: 0;
    color: rgb(46, 49, 58);
    
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';

  }
  #girl{
      color: rgb(255, 81, 0);
  }
  .material-icons-outlined-card2{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px; /* Preferred icon size */
    width: 27px; 
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin: 0;
    color: rgb(46, 49, 58);
    
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';

  }

  .material-icons-outlined-card3{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;  /* Preferred icon size */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: rgb(46, 49, 58);

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .material-icons-outlined-card4{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;  /* Preferred icon size */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: rgb(245, 54, 20);

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  .row-1{
    width : 570px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 15px 0 15px 0;
    box-shadow: 0 2px 6px 0 rgb(36, 35, 35), 0 4px 16px 0 rgb(36, 35, 35);
    flex-wrap: wrap;
  }
  
  
  .card1{
    width : 50%;
    height: auto;
    background-color: rgb(255, 166, 0);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card1 .content1{
    height : 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card1 .content2{
    height : 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 40px;
  }
  .card1 .content2 h1{
      margin:0;
      /* width: 80%; */
      text-align: center;
  }
  .card1 .content3{
    height : 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;

  }
  .card1 .content3 p{
    margin:0;
  }
  .card1 .content4{
    height : fit-content;
    width: auto;
    height : auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .card1 .content4 p{
    margin:0;
    font-weight: 900;
    font-size: 20px;
    height: 20px;
  }

  .card1 .content5{
    width: auto;
    height : 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
  }

  .card1 .content5 p{
    margin:0;
  }

  .card2{
    width : 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #28B7FA;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card2 .content1{
    height : 35px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
  }

  .card2 .content2{
    height : fit-content;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card2 .content2 .content2-row1{
    display: flex;
    position: relative;
    right: 10px;
    height: 40px;
  }

  .card2 .content2 .content2-row1 .icon{
    margin-right: 7px;
  }

  .card2 .content2 .text1{
    display: flex;
    width: auto;
  }

  .card2 .content2 .text1 p{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
  }

  .card2 .content2 .text2{
    display: flex;
    width: auto;
    height: fit-content;
}

.card2 .content2 .text2 p{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.card2 .content3{
    height : 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
}

.card2 .content3 p{
    margin: 0;
}

.card2 .content4{
    height : 47px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.card2 .content4 p{
    margin: 0
}

  .card2 .content5{
    width: auto;
    height : fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
  }

  .card2 .content5 p{
    margin:0
  }

  .row-2{
    width : 570px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 69, 62);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px 0 15px 0;
    box-shadow: 0 2px 6px 0 rgb(36, 35, 35), 0 4px 16px 0 rgb(36, 35, 35);
  }

  .row-2 .row2-part1{
    display: flex;
    width: 90%;
  }

  .row-2 .row2-part2 {
    width: 90%;
    height : 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
  }
  
  .row-2 .row2-part1 .part2 p{
    margin: 0;  
  }

  .row-2 .row2-subpart1{
    width: 50%;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
  }
  
  .row-2 .row2-subpart1 p{
    margin: 0;
  }

  .row-2 .row2-subpart2{
    width:50%;
  }

  .row2-subpart2-1{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
  }

  .row2-subpart2-2{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }

  .row-3{
    width : 570px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(40, 183, 250);
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px 0 15px 0;
    box-shadow: 0 2px 6px 0 rgb(36, 35, 35), 0 4px 16px 0 rgb(36, 35, 35);
  }

  .data{
    width: 50%;

  }
  .row3-part1{
    display: flex;
    margin-left: 20px;
  }
  .row3-part1 p{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 25px;
  }

  .row3-part2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
  }
  .row3-part3{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}


.row-4{
    width : 570px;
    height: auto;
    display: flex;
    margin: 15px 0 15px 0;
    box-shadow: 0 2px 6px 0 rgb(36, 35, 35), 0 4px 16px 0 rgb(36, 35, 35);
}
.row-4 .row4-card1{
    /* border: 2px solid black; */
    background-color: #F5453E;
    width: 50%;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.row-4 .row4-card1 .content1{
    /* border: 2px solid black; */
    height : auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
}
.row-4 .row4-card1 .content1 p{
    margin: 0;
}
.row-4 .row4-card1 .content2{
    /* border: 2px solid black; */
    height : 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
}
.row-4 .row4-card1 .content2 p{
    margin: 0
}

.row-4 .row4-card1 .content3{
    /* border: 2px solid black; */
    height : 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.row-4 .row4-card1 .content3 p{
    margin: 0
}
.row-4 .row4-card1 .content4{
    /* border: 2px solid black; */
    height : 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.row-4 .row4-card1 .content4 p{
    margin: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
}
.row-4 .row4-card1 .content5{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row-4 .row4-card2{
    
    background-color: #FFA600;
    width: 50%;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-4 .row4-card2 .content1{
    
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-4 .row4-card2 .content2{
    
    height : fit-content;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
}
.row-4 .row4-card2 .content2 p{
   margin:0;
}
.row-4 .row4-card2 .content3{
    
    height : 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
}
.row-4 .row4-card2 .content4{
    
    height : 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 35px;

}
.row-4 .row4-card2 .content5{
    
    height : 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;
}





.row-5{
    width:570px;
    height: auto;
    background-color: #28B7FA;
    color: white;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px 0 15px 0;
    box-shadow: 0 2px 6px 0 rgb(36, 35, 35), 0 4px 16px 0 rgb(36, 35, 35);
}
.row-5 .row5-part1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

}

.row-5 .row5-part1 .row5-subpart1{
    width: 100%;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 33px;
}
.row-5 .row5-part1 .row5-subpart1 p{
    margin:0;
}

.row-5 .row5-part1 .row5-subpart2{
    
    width: 100%;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;

}
.row-5 .row5-part1 .row5-subpart2 p{
    margin:0;
}

.row-5 .row5-part2{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}




.row-6{
    width:570px;
    height: auto;
    background-color: #FFA600;
    color: white;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px 0 15px 0;
    box-shadow: 0 2px 6px 0 rgb(36, 35, 35), 0 4px 16px 0 rgb(36, 35, 35);
}
.row-6 .row6-part1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

}

.row-6 .row6-part1 .row6-subpart1{
    width: 100%;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 33px;
}
.row-6 .row6-part1 .row6-subpart1 p{
    margin: 0;
}

.row-6 .row6-part1 .row6-subpart2{
    width: 100%;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.row-6 .row6-part1 .row6-subpart2 p{
    margin: 0;
}
.row-6 .row6-part2{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}


.row-7{
    width: 570px;
    height: auto;
    display: flex;
    margin: 15px 0 15px 0;
    box-shadow: 0 2px 6px 0 rgb(36, 35, 35), 0 4px 16px 0 rgb(36, 35, 35);
}

.row-7 .row7-card1{
    background-color: #28B7FA;
    width: 50%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.row-7 .row7-card1 .content2{
    
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
.row-7 .row7-card1 .content2 p{
    margin: 0;
}
.row-7 .row7-card1 .content3{
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 40px;
    
}
.row-7 .row7-card1 .content3 p{
    margin:0;
}
.row-7 .row7-card2{
    background-color: #F5453E;
    width: 50%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row-7 .row7-card2 .content1{
    
    height : auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
}
.row-7 .row7-card2 .content1 p{
    margin:0;
}
.row-7 .row7-card2 .content2{
    height : auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 13px;

}
.row-7 .row7-card2 .content2 p{
    margin: 5px;
}

