body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(90deg, rgba(231,231,241,1) 0%, rgba(176,176,177,1) 44%, rgba(166,165,167,1) 100%);
    
}
h1{
    text-align: center;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 450px;
    
}


.container{
    border-bottom: 5px solid rgb(52, 86, 240);
    border-radius: 10px;
    height: 200px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 2px 4px 0  gray, 0 4px 16px 0 gray;
    background: rgb(211, 207, 207);
    /* background: linear-gradient(90deg, rgba(211,211,250,1) 1%, rgba(199,199,242,1) 27%, rgba(208,208,233,1) 86%); */
    /* background: linear-gradient(90deg, rgba(130,130,233,1) 1%, rgba(59,59,236,1) 55%, rgba(59,59,241,1) 100%); */
    overflow: hidden;
    margin: 10px;
    
}

.image{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    max-width: 100%;
    max-height:100%;
    
}
.details{
    height: 144px;
    width: 150px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgb(245, 237, 237);
    color: rgb(7, 7, 7);
    
    
    
}
.date{
    height: 33%;
}
.seats{
    height: 33%;
    width: 100%;
    margin: 0;
}
.seats p{
    margin: 0;
}

.own-button{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.own-button button{
    border-radius: 5px;
    height: 80%;
    width: 70%;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
}
.own-button button:hover{
    background-color: rgb(41, 95, 245);
}
.sold-button{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sold-button button{
    border-radius: 5px;
    height: 80%;
    width: 70%;
    border: none;
    outline: none;
    background-color: #DC3545;
    color: white;

}
.sold-button button:hover{
    background-color: #861521;
}

.event-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 15%px;
    transform: skew(-20deg);
    background: #28a745;
    color: white;
    position: relative;
    right: 10px;
    flex-shrink: 1;
}

.event-heading-sold{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 15%px;
    transform: skew(-20deg);
    background: rgb(245, 63, 63);
    color: white;
    position: relative;
    right: 10px;
    flex-shrink: 1;
}
h3{
    height: fit-content;
    width: fit-content;
    margin: 0;
}
.card-content{
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 1;
    
}